.promotion {
  margin-top: 100px;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.promotion__title {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.promotion__text {
  font-weight: 700;
  color: #ffc86e;
}

.product__list {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 29px 15px;
}

.popular {
  z-index: 2;
  position: relative;
  background-color: #1fd85d;
  color: #ffffff;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.045em;
  max-width: 96px;
  padding: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.product__info {
  margin: 4px 6px 0 8px;
  max-width: 282px;
}

/* .imgWrapper_product {
  text-align: center;
  margin-top: -10px;
} */
/* 
.product__size {
  display: flex;
  gap: 8px;
}

.size__text {
  font-size: 12px;
  line-height: 16px;
  color: #3f4e65;
} */

.product__name {
  color: #111111;
  font-weight: 600;
  margin-top: 10px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.strong {
  font-weight: 800;
}

/* .product__characteristics {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
  line-height: 21px;
}

.product__barcode,
.product__manufacturer,
.product__brand {
  font-weight: 600;
  letter-spacing: 0.01em;
}

.gray {
  color: #3f4e65;
  font-weight: 300;
} */

.product__price_block {
  display: flex;
  gap: 40px;
  margin-top: 15px;
  align-items: center;
}

.product__price {
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  color: #111111;
}

.product__btn {
  position: relative;
  box-sizing: border-box;
  background: #ffc85e;
  border-radius: 79px;
  padding: 17.5px 61.34px 17.5px 42px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  color: #ffffff;
}

.product__btn::after {
  content: url("../../../image/basket_item.svg");
  position: absolute;
  margin-left: 5px;
  bottom: 20%;
}

.product__btn:hover {
  background: #f5ba43;
}

.product__btn:active {
  background: #ffc85e;
}

.slider {
  display: none;
}

.rectangle_active {
  display: none;
}

.rectangle:nth-child(2) {
  display: none;
}

.rectangle:nth-child(3) {
  display: none;
}

.rectangle:nth-child(4) {
  display: none;
}

@media (max-width: 945px) {
  .container {
    max-width: 725px;
  }

  .promotion {
    margin-top: 30px;
  }

  .promotion__title {
    font-size: 28px;
  }

  .promotion__text {
    font-weight: 700;
    color: #ffc86e;
  }

  .product__list {
    margin-top: 30px;
    gap: 10px;
  }

  .list__item {
    padding: 20px 15px;
  }

  .popular {
    font-size: 7px;
    line-height: 12px;
    max-width: 76px;
    padding: 4px 0 3px 0;
  }

  .product__image {
    max-height: 120px;
  }

  .product__info {
    font-size: 10px;
    margin: 4px 6px 0 8px;
    max-width: 190px;
  }

  /* 
  .imgWrapper_product {
    text-align: center;
    margin-top: -10px;
  } */
  /* .size__image {
    max-height: 12px;
  }
  .product__size {
    display: flex;
    gap: 5px;
  }

  .size__text {
    font-size: 8px;
    line-height: 16px;
    color: #3f4e65;
  } */

  .product__name {
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
  }

  .product__characteristics {
    margin-top: 10px;
    gap: 3px;
    line-height: 15px;
  }

  .gray {
    font-size: 9px;
  }

  .product__price_block {
    gap: 0px;
    justify-content: space-between;
    margin-top: 10px;
  }

  .product__price {
    font-size: 13px;
  }

  .product__btn {
    padding: 10px 36px 10px 18px;
    font-size: 9px;
    cursor: pointer;
    font-weight: 700;
    color: #ffffff;
  }

  .product__btn::after {
    content: "";
    background-image: url("../../../image/basket_item.svg");
    bottom: 20%;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 440px) {
  .promotion {
    margin-top: 110px;
  }

  .container {
    max-width: 370px;
  }

  .promotion__title {
    font-size: 20px;
    margin-left: 20px;
  }

  .product__list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .list__item {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 29px 15px;
  }

  .list__item:not(:first-child) {
    display: none;
  }

  .popular {
    z-index: 2;
    position: relative;
    background-color: #1fd85d;
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.045em;
    max-width: 96px;
    padding: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
  }

  .product__info {
    margin: 4px 6px 0 8px;
    max-width: 282px;
  }

  /* 
  .imgWrapper_product {
    text-align: center;
    margin-top: -10px;
  } */

  /* .product__size {
    display: flex;
    gap: 8px;
  }

  .size__text {
    font-size: 12px;
    line-height: 16px;
  } */

  .product__name {
    margin-top: 10px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03em;
  }

  .strong {
    font-weight: 800;
  }

  /* .product__characteristics {
    font-size: 14px;
    margin-top: 20px;
    gap: 5px;
    line-height: 21px;
  }

  .gray {
    font-size: 12px;
  } */

  .product__price_block {
    margin-top: 15px;
  }

  .product__price {
    font-size: 16px;
  }

  .product__btn {
    padding: 17.5px 61.34px 17.5px 42px;
    font-size: 10px;
  }

  .product__btn::after {
    content: "";
    margin-left: 5px;
    bottom: 30%;
  }

  .slider {
    display: block;
    position: relative;
  }

  .rectangle_active {
    display: block;
    position: absolute;
    width: 22px;
    height: 6px;
    right: 200px;
    bottom: -30px;
    background: #ffc85e;
    border-radius: 100px;
    cursor: pointer;
  }

  .rectangle:nth-child(2) {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    right: 180px;
    bottom: -30px;
    background: #3f4e65;
    opacity: 0.1;
    border-radius: 100px;
    cursor: pointer;
  }

  .rectangle:nth-child(3) {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    right: 160px;
    bottom: -30px;
    background: #3f4e65;
    opacity: 0.1;
    border-radius: 100px;
    cursor: pointer;
  }

  .rectangle:nth-child(4) {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    right: 140px;
    bottom: -30px;
    background: #3f4e65;
    opacity: 0.1;
  }
}