.App {
  display: flex;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 500px);
}

@media (max-width: 945px) {
	.wrapper {
		max-width: 945px;
	  }
	  .content {
		min-height: calc(100vh - 250px);
	  }
}
