.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.img__wrapper {
  display: flex;
  justify-content: center;
}
.check__image {
  background-color: #ffc85e;
  padding: 17px;
  border-radius: 50px;
}

.modal-dialog {
  width: 100%;
  max-width: 750px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  height: 424px;
  border-radius: 10px;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 20px;
}
.modal-header {
  justify-content: space-between;
}
.modal-footer {
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #3f4e65;
}
.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  color: #ffc85e;
  font-size: 28px;
}
.modal-body {
  overflow: auto;
}
.modal-content {
  padding: 1rem;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.modal-title {
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 945px) {
  .check__image {
    padding: 17px;
  }

  .modal-dialog {
    max-width: 500px;
    height: 300px;
  }

  .modal-footer {
    font-size: 14px;
    padding: 0 20px 20px 20px;
  }
  .modal-content {
    font-size: 20px;
  }
}
